.title-slide {
  background-image: url(http://cc.oulu.fi/~scoats/oululogoRedTransparent.png);
  background-repeat: no-repeat;
  background-size: 57px 80px;
  background-position:right top;
  border-right: 12px solid transparent;
  border-top: 2px solid transparent;
}

.title-slide .remark-slide-number {
  display: none;
}

a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}

.inverse {
  background-color: #272822;
  color: #d6d6d6;
  text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
}
.inverse body {
    color: red;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-left30 {
  float: left;
  width: 30%;
}
.pull-right {
  float: right;
  width: 47%;
}
.hangingindent {
  padding-left: 22px ;
  text-indent: -22px ;
} 
.pull-right70 {
  float: right;
  width: 64%;
}
.pull-right ~ * {
  clear: both;
}
.center{
    text-align: center;
}
.best_studio {
  font-family: Sansita;
font-style: italic;
font-size: 90%
}
.ipa{
    font-family: "Times New Roman", Times, serif;
}
.ita {
    font-style: italic;}
.small { font-size: 70% }
.sup { font-size: 70%;
position: relative;
    top: -50px; } 
.verysmall { font-size: 50% }
.vsup { font-size: 50%;
position: relative;
    top: -50px; }
.large { font-size: 140% }
.remark-inline-code{
  /* background: #F5F5F5; /* lighter */
  background: #e7e8e2; /* darker */
  border-radius: 3px;
  padding: 4px;
  font-size: 50%;
}
code.python{ /* Code block */
    font-size: 14px;
}

img, video, iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}

table thead th { border-bottom: 1px solid #ddd; }

thead, tfoot, tr:nth-child(even) { background: #eee }

@page { margin: 0; }


.remark-slide-number {
  font-size: 10pt;
  margin-bottom: -11.6px;
  margin-right: 10px;
  color: #FFFFFF; /* white */
  opacity: 1; /* default: 0.5 */
}

.supsub {
    display: inline-block;
}

.supsub sup,
.supsub sub {
    position: relative;
    display: block;
    font-size: .5em;
    font-style: italic;
    line-height: 1.0;
}

.supsub sub {
    top: .2em;
}

.title-slide {
  background-image: url(https://i.dailymail.co.uk/i/pix/2012/07/31/article-2180947-144C31A7000005DC-200_634x618.jpg);
  background-size: cover;
}
.title-slide h1, .title-slide h2, .title-slide h3 {
  color: #ffeddd;
}
.title-slide a, a > body {
  color: red;
  line-height: 0.5em;  
}
      

table.tablesorter {
    font-family:"Open Sans";
    background-color: #CDCDCD;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}




/* Fixed column scroll bar spacer styling */
.tablesorter-scroller-bar-spacer {
  background: #eee;
}
/* add border to right side (LTR pages) of fixed column */
.tablesorter-scroller-fixed:after {
  content: '';
  border-right: 1px solid #444;
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  /* set to zero for non-jquery ui themes; use "left" here for RTL pages */
  right: 0;
  /* match the margins set to the table to keep the border the same height as the table */
  margin: 10px 0 15px;
}

/* using-x-theme added by the demo code */
.using-jui-theme .tablesorter-scroller-fixed:after {
  /* use "left" here for RTL pages */
  right: 0;
}
.using-green-theme .tablesorter-scroller-fixed:after,
.using-black-ice-theme .tablesorter-scroller-fixed:after,
.using-dark-theme .tablesorter-scroller-fixed:after,
.using-dropbox-theme .tablesorter-scroller-fixed:after {
  /* match the margins set to the table to keep the border the same height as the table */
  margin: 0;
}

/* OPTIONAL CSS! */
#fixed-columns-table tbody td {
  /* force "Notes" column to not wrap, so we get a horizontal scrolling demo! */
  white-space: nowrap;
  /* Add min column width, or "Index" column filter gets too narrow to use */
  min-width: 0px;
}

h1 { font-family: "Open Sans"; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } 
h2 { font-family: "Open Sans"; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 20.4px; }
h3 { font-family: "Open Sans"; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Open Sans"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Open Sans"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Open Sans"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }